.bg-home {
  padding: 10em 0 6em 0;
}

.bg-theme {
  background: #d62f24;
}

hr {
  margin: 0 0.5em;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-btn {
  background-color: #3ccc18;
  transition: 0.3s;
}

.navbar-btn:hover {
  color: #fff;
  background-color: #10b41e;
}

.btn-info {
  background-color: rgb(0, 110, 255);
  border-color: rgb(0, 110, 255);
}

.btn-info:hover {
  background-color: rgb(31, 127, 252);
  border-color: rgb(31, 127, 252);
}

.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #000;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover,
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #000;
}

nav.navbar .logo-title {
  color: #fff;
  transition: 0.3s;
}
.nav-sticky.navbar-custom .logo-title {
  color: #000;
}

.card {
  box-shadow: 0 0 3px 3px #79797936;
}

.card .card-body {
  padding: 1.5em;
  margin-bottom: 0.5em;
}

/* ----------- SECTION SIDE ------------- */

/* Beranda Section */
#beranda .home-center .home-desc-center .row,
.navbar a.logo.row {
  margin-left: 0;
}

/* Statistik Section */
#statistik .card {
  border-radius: 0;
  box-shadow: 0 0 5px 5px #79797967;
}
#statistik .card .card-body {
  padding: 0.5em;
}

#statistik .card h3 {
  margin: 0.5em;
}

#statistik .card .counter p.pasien-counter {
  color: #000;
  margin: 10px 0;
  font-weight: 500;
}

#statistik .card .card-body .counter-wrapper {
  overflow: hidden;
  /* max-height: 0; */
  transition: max-height 0.3s;
}

#statistik .card .card-body .counter-wrapper.active {
  background: #555;
}

#statistik .card .collapse-wrapper {
  /* margin: 0 auto; */
  background: blue;
  width: 100%;
}

#statistik .card .collapse-wrapper a.collapse-btn {
  color: #000;
  background: #10b41e;
}

#statistik .card .collapse-wrapper .mdi-collapse {
}

#statistik .card .collapse-wrapper .mdi-collapse:hover {
  padding: 5px;
  color: #6d6d6d;
}
#statistik .card .collapse-wrapper .mdi-collapse::before {
  content: "\F791";
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#statistik .card .collapse-wrapper .mdi-collapse.active::before {
  content: "\F794";
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  /* transition: 0.3s; */
}

/* Informasi Section */
#informasi {
  padding-top: 0;
}
#informasi .bg-shape-atas {
  bottom: 0px;
  top: 0px;
}

#informasi .info-title {
  text-align: center;
  margin-top: 2em;
  padding-bottom: 2em;
}

#informasi .pusat-informasi .info-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#informasi .fb-sosmed {
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 0 15px 1px #757474a6; */
  box-shadow: 0 0 4px 4px #7979793a;
}

/* Bansos Section */
#bansos .page-item.active .page-link {
  background-color: #ee3629;
  border-color: #d62f24;
}

/* Berita Section */
#berita .berita-title {
  margin-bottom: 1em;
  margin-top: -1em;
  display: flex;
  justify-content: center;
}

#berita .card .card-body {
  padding: 1em;
}

#berita .card .card-img-top {
  max-height: 12em;
}

#berita .card .card-body h4 {
  color: rgb(0, 110, 255);
  font-weight: 600;
}

#berita .card .card-body a h4:hover {
  text-decoration: underline;
}

#berita .card .card-body .berita-content {
  height: 5em;
  /* text-align: justify; */
  line-height: 1.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* number of lines to show */
  -webkit-line-clamp: 3;
}

#berita .card .card-body a.btn {
  width: 75%;
  margin: 0 30px;
}

/* FAQ Section */

/* Footer Section */
.footer-surakarta {
  margin-bottom: 3em;
}

.back-to-top {
  background: #fd3325;
}

.back-to-top:hover {
  background: #d30000;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .bg-home {
    padding: 100px 0 50px 0;
  }
  nav.navbar .logo .logo-title {
    color: #000;
  }

  #informasi .fb-sosmed {
    height: 450px !important;
    width: 100% !important;
  }

  #informasi .pusat-informasi .info-wrapper img {
    width: 6em;
    height: auto;
  }
}
